{% capture content_for_header %}
  {{ content_for_header }}
  <meta name="generator" content="{{ site.generator }}" />
  <style>{% getBundle 'css' %}</style>
{% endcapture %}

{% capture body %}
  <main class="container breakout-all">{{ content }}</main>
  <footer><hr>{{ site.footer }} © {{ site.year }}</footer>
{% endcapture %}

{% include blades/html.liquid %}
